@media screen {
#pages,
#pages ul {
	padding-left: 0;
}
.ui.small.form {
	font-size: 0.575em;
}
.ui.mini.buttons .button, .ui.mini.buttons .or, .ui.mini.button {
	font-size: .6rem;
}
#pages li {
	list-style-type: none;
	/*padding: 5px 20px 5px 20px;*/
}
#pages > li {
}


#pages {
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	border: 1px solid rgb(230,230,230);
}

#pages li[data-page-type="primary"] > div,
#pages > .ui.small.form div {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgb(250,250,250);
	border-bottom: 1px solid rgba(230,230,230,.4);
}
.ui.small.form div {
	margin: 0;
}
#pages li[data-page-type="secondary"]:first-child > div {
	background-image: -o-linear-gradient(-90deg, #D8D8D8 0%, #F1F1F1 11%);
	background-image: -moz-linear-gradient(-90deg, #D8D8D8 0%, #F1F1F1 11%);
	background-image: -webkit-linear-gradient(-90deg, #D8D8D8 0%, #F1F1F1 11%);
	background-image: -ms-linear-gradient(-90deg, #D8D8D8 0%, #F1F1F1 11%);
	background-image: linear-gradient(-180deg, #D8D8D8 0%, #F1F1F1 11%);
}
#pages li[data-page-type="tertiary"]:first-child > div {
	background-image: -o-linear-gradient(-90deg, #CDCDCD 0%, #DFDFDF 11%);
	background-image: -moz-linear-gradient(-90deg, #CDCDCD 0%, #DFDFDF 11%);
	background-image: -webkit-linear-gradient(-90deg, #CDCDCD 0%, #DFDFDF 11%);
	background-image: -ms-linear-gradient(-90deg, #CDCDCD 0%, #DFDFDF 11%);
	background-image: linear-gradient(-180deg, #CDCDCD 0%, #DFDFDF 11%);
}

#pages li[data-page-type="secondary"] > div,
#pages [data-list-type="secondary"] > .ui.small.form div {
	padding: 5px 10px 5px 20px;
	background-color: #F1F1F1;
}

#pages li[data-page-type="secondary"] > div {
	-webkit-box-shadow: inset 0px -1px 0px rgba(0, 0, 0,.1), inset 0px -2px 0px rgba(255,255,255,.7);
	-moz-box-shadow:    inset 0px -1px 0px rgba(0, 0, 0,.1), inset 0px -2px 0px rgba(255,255,255,.7);
	box-shadow:         inset 0px -1px 0px rgba(0, 0, 0,.1), inset 0px -2px 0px rgba(255,255,255,.7);
}

#pages [data-list-type="tertiary"] > .ui.small.form div,
#pages li[data-page-type="tertiary"] > div {
	background-color: #DFDFDF;
	-webkit-box-shadow: inset 0px -1px 0px rgba(0, 0, 0,.1), inset 0px -2px 0px rgba(255,255,255,.3);
	-moz-box-shadow:    inset 0px -1px 0px rgba(0, 0, 0,.1), inset 0px -2px 0px rgba(255,255,255,.3);
	box-shadow:         inset 0px -1px 0px rgba(0, 0, 0,.1), inset 0px -2px 0px rgba(255,255,255,.3);
	padding: 5px 10px 5px 40px;
}

#pages a {
	text-decoration: none;
	/*text-shadow: 0px -1px 0px rgba(255, 255, 255, .8);*/
}
#pages i {
/*  display: inline-block;
	margin-right: 5px;*/
}
#pages .ui.button>.icon {
	margin-right: 0;
}
#pages i.arrow.sign.icon {
	cursor: pointer;
}
#pages span {
	padding-right: 10px;
}
.add.sign.box.icon,
.minus.sign.alternate.icon,
.arrow.sign.icon,
.triangle.right.icon,
.triangle.down.icon {
	margin-right: 10px;
	margin-left: 10px;
}
i {
	/*color: #D0021B;*/
}
#page_settings .ui.green.mini.submit.button {
	margin-bottom: 10px;
}

/*
----------------------------------------------------------
	Fine Uploader
----------------------------------------------------------
*/

.qq-uploader {
	position: relative;
	width: 100%;
}
.qq-uploader div {
	padding: 0;
}
.qq-uploader span {
	margin-left: 0!important;
	width: auto!important;
	top: auto!important;
	background: none!important;
	position: relative!important;
	height: auto!important;
	text-align: left!important;
	line-height: auto!important;
	/*font-family: "Dobra Slab W01 Medium";*/
	color: white;
	display: none!important;
	left: auto!important;
}
.qq-upload-button {
	display: block;
	width: 105px;
	padding: 7px 0!important;
	text-align: center;
	background: #880000;
	border-bottom: 1px solid #DDD;
	color: #FFF;
}
.qq-upload-button-hover {
	background: #CC0000;
}
.qq-upload-button-focus {
	outline: 1px dotted #000000;
}
.qq-upload-drop-area, .qq-upload-extra-drop-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 30px;
	z-index: 2;
	background: #FF9797;
	text-align: center;
	padding: 0!important;
}
.qq-upload-drop-area span {
	display: block;
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -8px;
	font-size: 16px;
	margin-left: 0;
}
.qq-upload-extra-drop-area {
	position: relative;
	margin-top: 50px;
	font-size: 16px;
	padding-top: 30px;
	height: 20px;
	min-height: 40px;
}
.qq-upload-drop-area-active {
	background: #FF7171;
}
.qq-upload-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.qq-upload-list li {
	margin: 0;
	padding: 9px;
	line-height: 15px;
	font-size: 16px;
	background-color: #FFF0BD;
}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-retry, .qq-upload-failed-text, .qq-upload-finished, .qq-upload-delete {
	margin-right: 12px;
}
.qq-upload-file {
}
.qq-upload-spinner {
	display: inline-block;
	background: url("loading.gif");
	width: 15px;
	height: 15px;
	vertical-align: text-bottom;
}
.qq-drop-processing {
	display: none;
}
.qq-drop-processing-spinner {
	display: inline-block;
	background: url("processing.gif");
	width: 24px;
	height: 24px;
	vertical-align: text-bottom;
}
.qq-upload-finished {
	display:none;
	width:15px;
	height:15px;
	vertical-align:text-bottom;
}
.qq-upload-retry, .qq-upload-delete {
	display: none;
	color: #000000;
}
.qq-upload-cancel, .qq-upload-delete {
		color: #000000;
}
.qq-upload-retryable .qq-upload-retry {
	display: inline;
}
.qq-upload-size, .qq-upload-cancel, .qq-upload-retry, .qq-upload-delete {
	font-size: 12px;
	font-weight: normal;
}
.qq-upload-failed-text {
	display: none;
	font-style: italic;
	font-weight: bold;
}
.qq-upload-failed-icon {
	display:none;
	width:15px;
	height:15px;
	vertical-align:text-bottom;
}
.qq-upload-fail .qq-upload-failed-text {
	display: inline;
}
.qq-upload-retrying .qq-upload-failed-text {
	display: inline;
	color: #D60000;
}
.qq-upload-list li.qq-upload-success {
	background-color: #5DA30C;
	color: #FFFFFF;
	display: none;
}
.qq-upload-list li.qq-upload-fail {
	background-color: #D60000;
	color: #FFFFFF;
}
.qq-progress-bar {
	background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
	width: 0%;
	height: 15px;
	border-radius: 6px;
	margin-bottom: 3px;
	display: none;
}
}