@media print {
    body {
        width:100%;
        margin: 0;
        float:none;
        background-color: #fff;
        background-image: none;
        font: 1em Georgia, "Times New Roman", Times, serif;
        color: #000;
    }
    img {
        display:block;
    }
    h1,h2,h3,h4,h5,h6 {
        font-family: Helvetica, Arial, sans-serif;
        color: #000;
    }
    h1 { font-size: 250%; }
    h2 { font-size: 175%; }
    h3 { font-size: 135%; }
    h4 { font-size: 100%; font-variant: small-caps; }
    h5 { font-size: 100%; }
    h6 { font-size: 90%; font-style: italic; }
    a:link, a:visited {
        color: #00c;
        font-weight: bold;
        text-decoration: underline; }
    a:link:after, a:visited:after {
        content: " (" attr(href) ") ";
    }

    /*
     It's common practice to remove navigation
     bars in print jobs. Below are a couple of
     the most commonly used navigation ids and
     classes at liquidfish.

    */

    #top_nav, #side_nav, #main_nav {
        display:none;
    }


}